.DogContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.DogDetails {
 text-align: center;
}

.DogDetails li {
 list-style-type: none;
 font-size: larger;
}

.DogDetails .img-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.7;
}

.DogDetails .img-container:hover{
  opacity: 1;
}
.DogDetails .img-container img {
  width: 100%;
  height: auto;
}
