.App {
  width: 80%;
  margin:0 auto;
  text-align: center;
}

.Cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PokeCard {
  background-color:lightblue;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  width:auto;
}

.PokeCard img {
  transition: all .2s ease-in-out;
}

.PokeCard img:hover {
  transform: scale(1.2);
}
.PokeProps {
  list-style-type: none;
}
